
:root{
    --letters: #ffffff;
    --popup-background : #151718; 
    --input-background : #363636;  
}

@font-face {
    font-family: MonoLisa;
    src: url("../assets/fonts/monoLisa.otf");
}

@font-face {
    font-family: Yuto;
    src : url("../assets/fonts/child.otf");
}

*{
    margin : 0 ; 
    padding: 0; 
}

/* ------------------------------ Background ------------------------------ */  

html {
    background: rgb(15,56,99);
    background: radial-gradient(circle, rgba(15,56,99,1) 0%, rgba(18,21,50,1) 79%);

}

#particles-js{
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}

#container {
    position: absolute;
    display: flex;
    z-index: 2;
    top: 10px;
    color : white; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border : 1px dashed blue;  */
    width: 100%;

}


/* ------------------------------ Header ------------------------------ */  

header {
    width : 100%; 
    height : 100px; 
    display : flex ; 
}
  
#title {
    width : 30%; 
    height : 100%; 
    display : flex ; 
    align-items: center;
    justify-content: center;
}

#title span {
    font-size : 50px;
    letter-spacing: 50px;
    font-family: "yuto"; 
    margin-left : 120px; 
    color : var(--letters); 
}

#tools {
    width : 30%;
    height : 100%; 
    margin-left : auto; 
    display : flex; 
    justify-content: center;
    align-items: center;
}

#tools img {
    height : 20px; 
    width : 20px; 
    margin : 10px; 
    opacity: 0.9;
}

#terminalWindow {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.commandLineContent {
    background-color: var(--popup-background); 
    margin: 15% auto; 
    padding: 20px;
    width: 60%; 
    height : 500px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 2px 47px 10px rgba(0,0,0,0.56);
}
  
.close {
    float: left;
    display: flex;
    flex-direction: row;
}
  
.redButton {
    height : 15px; 
    width : 15px; 
    border-radius: 50%;
    background-color: #ff5f57;
    margin-right : 8px;
}
  
.yellowButton {
    height : 15px; 
    width : 15px; 
    border-radius: 50%;
    background-color: #f9ba2b ;
    margin-right : 8px;
}
  
.greenButton {
    height : 15px; 
    width : 15px; 
    border-radius: 50%;
    background-color: #23c23a ;
}
  
.commandLineContent p {
    font-family: monoLisa;
    margin-top : 50px; 
    color : var(--letters);
}
  
.terminal{
    margin-left : 30px; 
    font-family: monoLisa;
    margin-top : 50px; 
    color : var(--letters); 
    line-height: 30px;
}
  
.inputTerminal {
    background-color: var(--popup-background);
    border : none;
    color : white;
    font-family: monoLisa;
    width : 100%;
    margin-left : 2px; 
}
  
.inputTerminal:focus {
    outline: 0;
}

